ul {
  list-style-type: none;

  margin-top: 80px;
  padding: 0px;
  margin-left: 180px;

  overflow: hidden;

  background-color: light;

  font-size: 20px;
  overflow: hidden;

  top: 0;
  width: 100%;
}
li {
  float: left;
  margin: 20px;
  color: rgb(20, 18, 16);
  font-style: normal;
}

.home,
.about,
.news,
.contact {
  text-decoration: none;
  color: black;
}

 .main-login {
  height: 50vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  background-color: "#555555";
  border-radius: 15px;
  padding: 40px;
  text-align: center;
  background-color: lightgray;
} 

.btnsub {
  border-radius: 4px;
  border: none;
  color: white;
  background-color: cornflowerblue;
}

.flex-container {
  display: flex;
  background-color: #f1f1f1;
  gap: 40px;
  justify-content: space-between;
  text-decoration: none;
  font-size: small;
  background-color: lightgray;
}
form {
  width: 100%;
}

input[type="number"],
input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"] {
  height: 45px;
  width: 100%;
  border: 0.5px solid gray;
  border-radius: 8px;
  margin: 8px;
}

.center {
  display: grid;
  place-items: center;
}
.text-danger {
  color: red;
}

.form-main {
  background-color: lightgray;
  border-radius: 10px;
  width: 50vw;
  justify-content: center;
  margin: 60px;
  padding: 30px;
  color: black;
}
.main-card {
  height: 5%;
}
* {
  font-family: sans-serif, Verdana;
}
.clearfix {
  font-size: larger;
  margin: 90px;
  text-decoration: underline;
}
.float-start,
.float-end {
  text-decoration: underline;
}
.cd {
  border-style: none;
}
.cd-car {
  border-style: none;
  justify-content: center;
  margin-top: 100px;
}
